@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

:root {
  /* Typography */
  --regular-font: "Lato", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  --heading-font: "Roboto Mono", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    monospace, sans-serif;

  /* h5 font size paragraph */
  /* start of for small mobile  (576px and down) */
  /* start of for mobile  (576px and up) */

  /* start of for mobile */

  --font-size-h1: 2.488rem;

  --font-size-h2: 2.074rem;

  --font-size-h3: 1.728rem;

  --font-size-h4: 1.44rem;

  --font-size-h5: 1.2rem;

  /* major third 1.200 */
  /* end of for mobile */

  --font-size-h6: 1rem;

  --box-shadow-1: 2px 4px 6px #000;

  --transition-8: all 0.8s ease-in-out;
  /* colors */
  --primary-color: #0008c1;
  --secondary-color: #2146c7;
  --heading-color: #4b8178;
  --btn-color: #e6cba8;
  --background-color: #fdf0e0;

  --linear-gradient: linear-gradient(to right, #0008c1, #4b8178);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--regular-font);
  font-size: 100%;
  /* font size :16px */
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

/* mobile */

h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
}
h5 {
  font-size: var(--font-size-h5);
}
h6 {
  font-size: var(--font-size-h6);
}
p {
  font-size: var(--font-size-h5);
}

/* navbar for small screen */

.header {
  background: transparent;
  box-shadow: 0px 1px 2px #000;
}

.navbar__small {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem;
}

.logo {
  font-size: var(--font-size-h4);
  letter-spacing: 1px;
  color: var(--primary-color);
}

.menu__hamburger {
  cursor: pointer;
  position: relative;
  width: 36px;
  height: 36px;
  background: var(--linear-gradient);
  padding: 1rem;
  box-shadow: 1px 2px 1px #000;
  border-radius: 0.2rem;
}

.bar {
  background-color: white;
  display: block;
  height: 5px;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition-8);
}

.bar--1 {
  transform: translate(-50%, -13px);
}
.bar--2 {
  transform: translate(-50%, -50%);
}
.bar--3 {
  transform: translate(-50%, 8px);
}

.close .bar--1 {
  opacity: 1;
  transform: translate(-50%, -2px) rotate(45deg);
}
.close .bar--2 {
  opacity: 0;
}
.close .bar--3 {
  transform: translate(-50%, -2px) rotate(135deg);
}

.nav__links {
  position: absolute;
  z-index: 100;
  height: 0;
  width: 100%;
  overflow: hidden;
  transform: translateX(-100%);
  transition: var(--transition-8);
}

.show__links {
  height: 275px;
  transform: translateX(0%);
}

.nav__links li a {
  display: block;
  padding: 1rem;
  font-weight: bold;
  font-size: var(--font-size-h5);
  color: var(--heading-color);
  background-color: var(--background-color);
  letter-spacing: 1px;
  transition: var(--transition-8);
}

.nav__links li a:hover {
  background-color: rgba(255, 255, 255, 1);
  color: black;
  padding-left: 3rem;
}

/* hero section */
.background__image {
  background: url(/meeting.jpg) no-repeat center/cover;
  width: 100%;
  z-index: -1;
  min-height: 100vh;
  opacity: 0.7;
}

.hero__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
}

.hero__heading {
  color: white;
  font-size: var(--font-size-h4);
  max-width: 500px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.hero__paragraph {
  font-size: var(--font-size-h6);
  text-align: center;
  word-break: break-all;
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.btn {
  color: var(--background-color);
  font-weight: bold;
  font-size: var(--font-size-h4);
  letter-spacing: 1px;
  text-transform: capitalize;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: block;
  text-align: center;
  margin: 0 auto;
  transition: var(--transition-8);
  box-shadow: 2px 4px 1px #000;
  cursor: pointer;
}

.btn--explore {
  border: 2px solid black;
  background: var(--linear-gradient);
}

.btn--explore:hover {
  transform: translateY(15%);
  color: rgb(0, 0, 0);
  background: transparent;
  background-color: var(--btn-color);
}

/* about section */
.about {
  padding-top: 1rem;
  background: linear-gradient(
    30deg,
    rgba(230, 203, 168, 0.8715861344537815) 5%,
    rgba(235, 214, 186, 1) 89%
  );
}

.about__heading {
  text-align: center;
  text-transform: capitalize;
  font-size: var(--font-size-h3);
  margin-bottom: 1rem;
}
.about__image {
  min-height: 40vh;
  width: 95vw;
  margin: 0 auto;
  object-fit: cover;
}

.about__container {
  display: grid;
  gap: 1.5rem;
}

.about__content {
  padding: 0.5rem;
}

.about__content--heading {
  font-size: var(--font-size-h5);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--heading-color);
}

.about__underline {
  background-color: var(--primary-color);
  height: 0.2rem;
  max-width: 100px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.about__paragraph {
  word-break: break-all;
  margin-bottom: 1rem;
  text-transform: lowercase;
  letter-spacing: 1px;
}

.about__list {
  margin-bottom: 2rem;
}

.about__list li {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.about__list li::before {
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  color: var(--primary-color);
  margin-right: 0.5rem;
}

.about__social {
  display: flex;
  gap: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
.about__social li a i {
  font-size: var(--font-size-h3);
  transition: var(--transition-8);
}
.about__social li a i:hover {
  color: var(--heading-color);
  transform: translateY(5%);
  filter: drop-shadow(1px -1px black);
}

/*! services section */

.services {
  padding-top: 1rem;
  background: linear-gradient(
    40deg,
    rgba(0, 8, 193, 1) 3%,
    rgba(33, 70, 199, 0.7707457983193278) 97%
  );
}

.services__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 0 auto;
  width: 96vw;
  gap: 2rem;
  padding-bottom: 2rem;
}

.services__heading {
  text-align: center;
  text-transform: capitalize;
  font-size: var(--font-size-h3);
  margin-bottom: 1rem;
}

.services__underline {
  background-color: var(--primary-color);
  height: 0.2rem;
  max-width: 100px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.services__icon i {
  font-size: 3rem;
  display: block;
  text-align: center;
  color: var(--heading-color);
}

.services__card {
  box-shadow: 2px 0px 3px #000;
  padding: 1rem;
  cursor: pointer;
  background-color: white;
}

.services__card:hover {
  box-shadow: var(--box-shadow-1);
  transition: all 0.1s ease-in;
  background-color: var(--background-color);
}

.services__card--heading {
  font-size: var(--font-size-h5);
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: var(--primary-color);
  text-align: center;
}

.services__card--paragraph {
  text-align: left;
  margin-bottom: 1rem;
  word-break: break-all;
  color: black;
  opacity: 0.6;
  margin-left: 1rem;
}

.services__card--learn {
  font-size: var(--font-size-h5);
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: underline;
  margin-left: 1rem;
}

/* ! Projects   */

.projects {
  padding-top: 1rem;
  background: rgb(253, 240, 224);
  background: linear-gradient(
    156deg,
    rgba(253, 240, 224, 1) 3%,
    rgba(0, 8, 193, 1) 100%
  );
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 0 auto;
  width: 95vw;
  gap: 2rem;
  padding-bottom: 2rem;
  margin-top: 1rem;
}

.projects_card {
  box-shadow: 1px 0px 2px #000;
  cursor: pointer;
  color: black;
  background-color: white;
}

.projects_card:hover {
  box-shadow: var(--box-shadow-1);
  transition: all 0.1s ease-in;
  background-color: var(--background-color);
}

.projects__underline {
  background-color: var(--primary-color);
  height: 0.2rem;
  max-width: 100px;
  margin: 0 auto;
}

.projects__heading {
  text-align: center;
  text-transform: capitalize;
  font-size: var(--font-size-h3);
  margin-bottom: 1rem;
}

.projects__image {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project__card--heading {
  font-size: var(--font-size-h4);
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  color: var(--heading-color);
}

.projects__card--paragraph {
  margin-left: 1rem;
  word-break: break-all;
  width: 90%;
  font-size: var(--font-size-h6);
  opacity: 0.6;
  margin-bottom: 1rem;
}

/* ? contact us */

.contact {
  width: 99vw;
  margin: 0 auto;
  margin-bottom: 0.1rem;
  background-color: var(--background-color);
}

.form__heading {
  text-align: center;
  text-transform: capitalize;
  font-size: var(--font-size-h3);
  margin-bottom: 1rem;
  padding-top: 2rem;
}

.form__underline {
  background-color: var(--primary-color);
  height: 0.2rem;
  max-width: 100px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

legend {
  font-size: var(--font-size-h4);
  text-transform: capitalize;
  font-weight: bold;
  color: var(--heading-color);
  letter-spacing: 1px;
}

.form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.form__input {
  width: 80%;
  max-width: 300px;
  padding: 0.5rem 0.1rem;
  border: 1px solid black;
  margin: 0 auto;
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 1rem;
  border-radius: 0.4rem;
}

.form__input::placeholder {
  text-transform: capitalize;
}

.form__input:hover {
  outline-color: var(--heading-color);
}

.message {
  max-width: 220px;
  max-height: 150px;
  margin-left: 1.3rem;
  font-size: var(--font-size-h5);
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

.btn--submit {
  color: black;
  border: 1px solid black;
  margin-bottom: 2rem;
}

.btn--submit:hover {
  background-color: black;
  color: white;
}

.footer {
  background-color: black;
  color: var(--heading-color);
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  text-transform: capitalize;
}

.btn--up {
  background-color: white;
  color: black;
  display: block;
  position: fixed;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  transition: var(--transition-8);
  border: 1px solid white;
}

.btn--up:hover {
  color: var(--heading-color);
  background-color: #000;
}

/* !!!!!!!!!!!!!!!!!!!!!!!! 600px  */

@media (min-width: 600px) {
  .header {
    box-shadow: none;
  }
  .menu__hamburger {
    display: none;
  }
  .nav__links {
    position: relative;
    width: auto;
    height: auto;
    transform: translateY(0%);
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .nav__links li a {
    background-color: transparent;
    padding: 0;
    transition: all 0.1s ease-in-out;
  }
  .nav__links li a:hover {
    background-color: transparent;
    padding: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    padding-right: 1rem;
    padding-left: 0.5rem;
  }

  .hero__heading {
    font-size: var(--font-size-h2);
    max-width: 750px;
    width: 90%;
  }

  .hero__paragraph {
    max-width: 750px;
    width: 90%;
    font-size: var(--font-size-h4);
  }

  .btn--explore {
    font-size: var(--font-size-h3);
  }

  .about__container {
    grid-template-columns: 1fr 1fr;
  }

  .about__image {
    width: 40vw;
    align-self: center;
  }

  .services__container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
